body {
    margin: 0;
    height: 100vh;
}

h1 {
    font-size: 40px !important;
}

h2 {
    font-size: 36px !important;
}

h3 {
    font-size: 32px !important;
}

h4 {
    font-size: 24px !important;
}